@import url(variables.css);

section#apropos-section > div.content {
    padding: 100px 200px;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 3em;
}

h2.app-titre {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

div.app-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
}

img.app-pp {
    width: 350px;
    height: auto;
    border-radius: 50%;
}

div.paragraphe-list {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1em;
}