header#header {
    background-color: rgb(85, 85, 232);
}

nav.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 4em;
}

div.menu {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

div.menu > li {
    list-style: none;
}

div.menu > li > a {
    color: black;
    text-decoration: none;
}